pyyaml>6.0.2
accelerate
datasets
evaluate
huggingface-hub
keras
numpy<=2.0
pandas>1.3
pandas-datareader
peft 
pytorch-lightning>2.0
ru_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.8.0/ru_core_news_lg-3.8.0-py3-none-any.whl#sha256=90bd584be86772b647e1b15cdc62e09d3a7182284ee23da95e19c2bf71aa0189
sacrebleu
sentence-transformers
sentencepiece
spacy==3.8.7
tqdm
transformers>=4.8
torch>2.5
torchao
trl
unbabel-comet>2.0
unsloth
xformers 
bitsandbytes
datasphere
